.snake-food
{
  position: absolute;.snake-food {
    position: absolute;
    width: 2%; 
    height: 2%; 
    background-color: red;
    border: 1px solid #333;
    border-radius: 50%;
  }
  
  
  @media (max-width: 600px) {
    .snake-food {
      width: 4%; 
      height: 4%; 
    }
  }
  
  width: 2%;
  height: 2%;
  background-color: rgb(255, 0, 0);
  border: 1px solid white;
  z-index: 1;
}