
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: url(./components/snake-bi.webp) no-repeat;
  background-size: cover;
}


.header {
  background-color: rgba(11, 87, 117, 0.623);
  color: #fff;
  text-align: center;
  padding: 10px;
}


.mainscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.level {
  margin-bottom: 20px;
  text-align: center;
}

.level h2 {
  font-size: 24px;
}

.level p {
  font-size: 18px;
  margin: 10px;
}

.instruction {
  font-size: 16px;
  text-align: center;
}


.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.score-area {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  body{
    background: url(./components/snake-bi.webp) repeat;
  }
}